name: Sync DAGs to GCE Airflow

on:
  push:
    branches:
      - main
    paths:
      - 'dags/**'

jobs:
  sync-dags:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Authorize SSH connection to GCP instance
      run: |
        echo "$GCP_SERVICE_ACCOUNT_KEY" > ${HOME}/gcp-key.json
        gcloud auth activate-service-account --key-file=${HOME}/gcp-key.json
        gcloud compute ssh --quiet --zone="${{ secrets.GCP_COMPUTE_ZONE }}" "${{ secrets.GCP_INSTANCE_NAME }}" --project "${{ secrets.GCP_PROJECT_ID }}" --command="mkdir -p /home/admin/airflow/dags"

    - name: Copy DAGs to GCP
      run: |
        gcloud compute scp --zone="${{ secrets.GCP_COMPUTE_ZONE }}" --recurse dags/* "${{ secrets.GCP_INSTANCE_NAME }}:/home/admin/airflow/dags/" --project="${{ secrets.GCP_PROJECT_ID }}"
